* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: relative; */
}

.mainContainer {
  background-color: rgba(102, 9, 252, 0.199);
  color: white;
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
}


.gridContainer {
  color:white;
  margin: auto;
  margin-top:50px;
  background: black;
  height: 90vh;
  width: 85vw;
  position: relative;
  perspective: 40px;/** animate this down on click!! **/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid 3px #006aff;
  border-radius:2em;
  /* animation-name: buttonClick;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear; */

}

/*use this relationship to display and remove pages*/
.gridContainerMove{  
  animation-name: buttonClick;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  /* perspective: 20px; */
  background: black;

}
@keyframes buttonClick {
  0% {perspective: 40px}
  50% {perspective:35px}
  100% {perspective: 40px}
}


.horizon {
  background: black;
  position: absolute;
  bottom: 32vh;
  width: 100%;
  height:200px;
  background-image: linear-gradient(to top, #c300ff, #ce29cb, #a134c1, #7537b1, #4a359e, #452b84, #3d226c, #341a55, #34113a, #2a0d23, #1c0712, #000000);
}

#grid {
  width: 345%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(75, 1fr);
  position: absolute;
  /* border: 1px solid yellow; */
  transform-style: preserve-3d;
  transform: rotateX(40deg);
  bottom: 0;
  
}

.cell {
  background: black;
  color: black;
  border: .5px solid #c300ff;
}

.cell:nth-child(75n+24){
  background-color: #0096ff;
  border: .5px solid #f9f871;
}

.testCell{
  background: rgb(252, 248, 4);
  color: white;
  border: 1px solid rgb(252, 21, 4);
  /* animation-name: test;
  animation-duration: 5s;
  animation-timing-function:ease-in-out; */
}

.cellProjects{
  background: rgb(253, 217, 9);
  color: white;
  border: 1px solid rgb(252, 4, 231);
  animation-name: test2;
  animation-duration: 5s;
  animation-timing-function:ease-out;

}
@keyframes test2{
  from{
    background: black;
    color: white;
    border: 1px solid rgb(252, 4, 231);
  }
  to{
  background: red;
  color: white;
  border: 1px solid rgb(4, 252, 252);
  }
}


@keyframes test{
  from{
    background: black;
    color: white;
    border: 1px solid rgb(252, 4, 231);
  }
  to{
  background: red;
  color: white;
  border: 1px solid rgb(4, 252, 252);
  }
}

.testCellSelect{
  background: yellow;
  color: white;
  border: 1px solid rgb(41, 4, 252);
}



.navBar {
  font-family: 'Fira Code', monospace;
  color: #ffc843;
  font-size: 3em;
  /* border:solid 1px white; */
  overflow: hidden;
  position: relative;
  right:0;
  top:0;
  background-color: white;
  backdrop-filter: blur 3px;
}

.navList{
  display:flex;
  /* flex-direction: column; */
  align-items: flex-end;
  /* border:1px solid red; */
}


.navLink{
  color: #ffc843;
  font-family: 'Lato', sans-serif;
  font-size:.45em;
  text-decoration: none;
  border:1px solid #ffc843;
  border-radius: 1em;
  padding: 10px 15px;
  /* display:inline-block; */
  margin-bottom:15px;
  /* transform:skewY(45deg);
  transform:translateX(2em) */
}

.fira{
  font-family: 'Fira Code', monospace;
}

.major{
  font-family: 'Major Mono Display', monospace;
  color: #fff;
  font-size: 3em;
  text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 15px #fff,
      0 0 40px #0ff,
      0 0 50px #0ff,
      0 0 60px #0ff;
      /* 0 0 100px #0ff,
      0 0 150px #0ff; */
  }


.lato{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

