* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  /* background-color: rgba(102, 9, 252, 0.199); */
  color: white;
  width: 70%;
  margin:0 auto;
  height: 100%;
}


.gridContainer {
  z-index: -2;
  color:white;
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto auto;
  background: black;
  height: 90vh;
  width: 85vw;
  perspective: 40px;/** animate this down on click!! **/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid 3px #006aff;
  border-radius:2em;
}

/*use this relationship to display and remove pages*/
.gridContainerMove{  
  animation-name: buttonClick;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  /* perspective: 20px; */
  background: black;

}
@keyframes buttonClick {
  0% {perspective: 40px}
  50% {perspective:35px}
  100% {perspective: 40px}
}


.horizon {
  background: black;
  position: absolute;
  bottom: 42vh;
  width: 100%;
  height:200px;
  background-image: linear-gradient(to top, #c300ff, #ce29cb, #a134c1, #7537b1, #4a359e, #452b84, #3d226c, #341a55, #34113a, #2a0d23, #1c0712, #000000);
}

#grid {
  width: 345%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(75, 1fr);
  position: absolute;
  /* border: 1px solid yellow; */
  transform-style: preserve-3d;
  transform: rotateX(40deg);
  top:44vh;
}

.cell {
  background: black;
  color: black;
  border: .5px solid #c300ff;
}

/*COLUM OF CELLS*/
/* .cell:nth-child(75n+24){
  background-color: #0096ff;
  border: .5px solid #f9f871;
} */

/*NAVIGATION*/

.navBar {
  display: none;
  font-family: 'Fira Code', monospace;
  color: #ffc843;
  font-size: 3em;
  border:solid 1px white;
  overflow: hidden;
  /* position: absolute; */
  right:0;
  top:0;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur 3px;
}

.navList{
  display:flex;
  justify-content: space-between;
  align-items:center;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  /* border:1px solid red; */
}


.navLink{
  color: #ffc843;
  font-family: 'Lato', sans-serif;
  font-size:.45em;
  text-decoration: none;
  border:1px solid #ffc843;
  border-radius: 1em;
  padding: 10px 15px;
  /* display:inline-block; */
  /* margin-bottom:15px; */
  /* transform:skewY(45deg);
  transform:translateX(2em) */
}

/*HOMEPAGE*/
.homePage{
  min-height:100vh;
  display:flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.major{
  font-family: 'Major Mono Display', monospace;
  color: #fff;
  font-size: 2.5em;
  text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 15px #fff,
      0 0 40px #0ff,
      0 0 50px #0ff,
      0 0 60px #0ff;
      /* 0 0 100px #0ff,
      0 0 150px #0ff; */
  }


/*ABOUT*/
.about{
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/colorClouds.png);
  /* background-color:rgba(255, 255, 255, 0.253); */
  border-radius:1em;
  background-repeat: repeat;
  background-position: right;
  background-size:cover;
}

.aboutText{
  text-align: center;
  font-family: 'Orbitron', monospace;
  font-size:1.2em;
  font-weight:800;
  line-height:1.8em;
  color:#ffffff;
  padding:1em .2em;
  text-shadow: 3px 3px rgb(217, 6, 245);
}


/*PROJECTS*/
.projects{
  min-height:100vh;
}

.projectGrid{
  /* height:75vh;
  display:grid;
  grid-template-columns: repeat(auto-fit, 6, 1fr);
  grid-template-rows: repeat(auto-fit, 12, 1fr);
  grid-gap:5px;
  grid-auto-flow: row; */
  height:75vh;
  background-color:#0ff;
  display:grid;
  grid-template-columns: repeat(auto-fit, 6, 1fr);
  grid-gap:5px;
  grid-auto-flow: dense;
}

.projectItem{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#006aff;
}

.web3PassGen{
  grid-row:span 8;
  grid-column:span 4;
}

.web2PassGen{
  grid-row: span 9;
  grid-column: span 2;
}

.pacman{
  grid-row: span 7;
  grid-column: span 2;
}

.troutCounter{
  grid-row: span 6;
  grid-column: span 3;
}

.hackathonContributions{
  grid-row: span 8;
  grid-column: span 1;

}


/*CONTACT*/
.contact{
  min-height:100vh;
}

.fira{
  font-family: 'Fira Code', monospace;
}

.lato{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

