* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: black;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .mainContainer {
  color: white;
  width: 70%;
  margin:0 auto;
  height: 100%;
} */


.gridContainer {
  z-index: -2;
  color:white;
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto auto;
  background: black;
  height: 90vh;
  width: 85vw;
  perspective: 40px;/** animate this down on click!! **/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid 3px #006aff;
  border-radius:2em;
}

/*use this relationship to display and remove pages*/
.gridContainerMove{  
  animation-name: buttonClick;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  /* perspective: 20px; */
  background: black;

}
@keyframes buttonClick {
  0% {perspective: 40px}
  50% {perspective:35px}
  100% {perspective: 40px}
}


.horizon {
  background: black;
  position: absolute;
  bottom: 42vh;
  width: 100%;
  height:200px;
  background-image: linear-gradient(to top, #c300ff, #ce29cb, #a134c1, #7537b1, #4a359e, #452b84, #3d226c, #341a55, #34113a, #2a0d23, #1c0712, #000000);
}

#grid {
  width: 345%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(75, 1fr);
  position: absolute;
  /* border: 1px solid yellow; */
  transform-style: preserve-3d;
  transform: rotateX(40deg);
  top:44vh;
}

.cell {
  background: black;
  color: black;
  border: .5px solid #c300ff;
}

.cellProject{
  background: black;
  color: black;
  border: .5px solid #0084ff;

}

/*COLUM OF CELLS*/
/* .cell:nth-child(75n+24){
  background-color: #0096ff;
  border: .5px solid #f9f871;
} */

/*NAVIGATION*/

.navBar {
  display: none;
  font-family: 'Fira Code', monospace;
  color: #ffc843;
  font-size: 3em;
  border:solid 1px white;
  overflow: hidden;
  /* position: absolute; */
  right:0;
  top:0;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur 3px;
}

.navList{
  display:flex;
  justify-content: space-between;
  align-items:center;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  /* border:1px solid red; */
}


.navLink{
  color: #ffc843;
  font-family: 'Lato', sans-serif;
  font-size:.45em;
  text-decoration: none;
  border:1px solid #ffc843;
  border-radius: 1em;
  padding: 10px 15px;
  /* display:inline-block; */
  /* margin-bottom:15px; */
  /* transform:skewY(45deg);
  transform:translateX(2em) */
}

/*HOMEPAGE*/
.homePage{
  min-height:100vh;
  display:flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width:85vw;
  margin:0 auto;
  position:relative;
  /* border:1px solid red; */
}

.homePageTag{
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  position:absolute;
  bottom:1%;
  /* border:1px solid white; */
  
}

.homePageTag > div{
  display:flex;
  justify-content: space-between;
}
.homePageTag > div > img{
  height:3.5em;
  -webkit-filter: drop-shadow(0px 0px 15px #f011ce);
  filter: drop-shadow(0px 0px 25px #f011ce);
}


.homePageTag > p {
  background: linear-gradient(to bottom, #c300ff, #a651ff, #8d70ff, #7c85ff, #7896fb, #68a5fe, #63b3fc, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bungee Outline', cursive;
  font-weight: bold;
  font-size: 2.7em;
  /* text-shadow: 1px 1px white; */
}

.major{
  font-family: 'Major Mono Display', monospace;
  color: #fff;
  font-size: 2.5em;
  text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 15px #fff,
      0 0 40px #0ff,
      0 0 50px #0ff,
      0 0 60px #0ff;
      /* 0 0 100px #0ff,
      0 0 150px #0ff; */
  }


/*ABOUT*/
.about{
  min-height:100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/cloudsBackground.png);
  background-color:rgba(255, 255, 255, 0.253);
  background-position: center;
  background-size:cover;
  margin-top:0;
}

.aboutText{
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  font-size:1.5em;
  font-weight:800;
  line-height:1.8em;
  color:black;
}

/*PROJECTS*/
.projects{
  padding:0;
  width:100%;
  margin:0, auto;
  background-color:rgba(17, 12, 66, 0.966);
  background-image: linear-gradient(to bottom, #c300ff, #a651ff, #8d70ff, #7c85ff, #7896fb, #68a5fe, #63b3fc, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  /* border:1px solid white; */
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#svgTop{
  width:100vw;
  margin:0;
  padding:0;
  transform:translateY(.3em);
}
#svgBottom{
  width:100vw;
  margin-top:0;
  padding:0;
  bottom:0;
  transform:translateY(-2px);
}

/* .border-top{
  border:solid 3px red;
  display:flex;
  margin-top:0;
  top:0;
} */

.projectGrid{
  height:100%;
  width:70vw;
  margin:0 auto;
  padding:2em;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:4em;
  /* grid-auto-flow: dense; */
  /* border:1px solid white; */
}

.projectItem{
  display:flex;
  text-align: center;
  justify-content: bottom;
  align-items: bottom;
  background-color:#072857;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  border-radius: 1em;
  filter:drop-shadow(8px 8px 4px #000000);
  height: 275px;
  position: relative;
}

label{
  color:rgb(255, 255, 255);
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  text-shadow: 2px 2px 2px black;
  text-transform:uppercase;
  font-weight: bold;
  position: absolute;
  width:60%;
  /* top:-1em; */
  /* left: 0;
  right:0; */
  transform:translate(-30%, -40%);
  pointer-events: none;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #c300ff, #a651ff, #8d70ff, #7c85ff, #7896fb, #68a5fe, #63b3fc, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);  border-radius: .5em;
  padding: .5em .5em .5em .5em;

}

.web3PassGen{
  background-image: url('./images/web3thumb2.png');
}

.web2PassGen{
  /* grid-row: span 1;
  grid-column: span 1; */
  background-image: url('./images/web2thumb.png')
}

.pacman{
  /* grid-row: span 1;
  grid-column: span 1; */
  background-image: url('./images/pacman.png')
}

.troutCounter{
  /* grid-row: span 1;
  grid-column: span 1; */
  background-image: url('./images/troutCounterThumb.png')
}

.miscProjects{
  /* grid-row: span 1;
  grid-column: span 1; */
  background-image: url('./images/miscBackground.png')

}

.glow{
  -webkit-box-shadow:0px 0px 30px 17px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 30px 17px rgba(255, 255, 255);
  box-shadow: 0px 0px 30px 17px rgba(255, 255, 255);
  transform: scale(1.05);
  filter:none;
  }

#backBtn{
  background-image: url('./images/backIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:5em;
  height:5em;
  position:absolute;
  top:15%;
  left: 15%;
  /* border:solid 3px red; */
  z-index:2;
}

#backBtn:hover{
  cursor: pointer;
}

.projectTemplate{
  margin:1em auto;
  min-height: 95vh;
  width:65vw;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  background: rgba(252, 249, 249, 0.24);
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position:relative;
}

.projectTemplateLeft{
  display:flex;
  flex-direction: column;
  width:80%;
  align-items:flex-end;
  text-align: right;
  padding:.5em;
}

.projectTemplateRight{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  text-align: left;
  padding:.5em;
}

.projectTemplateTitle{
  color:white;
  font-size: 2em;
  margin-bottom:.5em;
}

.projectTemplateDescription{
  color:white;
  font-family: 'Fira Code', monospace;
  line-height: 1.5em;
}

.projectTemplateWorkingSiteLink{
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  text-shadow: 2px 2px 1px #ffd04c;
  color:#ff00d9;
  margin-bottom: 1em;
}

.projectTemplateCodeLink{
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  text-shadow: 2px 2px 1px #ffd04c;
  color:#ff00d9;
  margin-top: 1em;
  /* color:inherit; */
}



/*CONTACT*/
.contact{
  min-height:100vh;
  color:white;
}

.fira{
  font-family: 'Fira Code', monospace;
}

.lato{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

